*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.mem
!*.png
!*.txt
!*.tex
!*.cc
!*.cpp
!*.scala
!*.json
!*.sbt
!*.mill
!*.py
!*.sby
!.mill-version
!.gitignore
!Kconfig
!.config
!README.md
!HwOS/
!*.sh
!STA/
build/
out/
project/
